<ion-footer>
  <div>
    <button (click)="home()"><ion-icon class="symbols" name="list"></ion-icon> 
      AllPlaylists
    </button>
    <button (click)="favorites()"><ion-icon class="symbols" name="heart"></ion-icon>
      Favorites
    </button>
    <button (click)="getCurrentPlaylist()"><ion-icon class="symbols" name="musical-notes"></ion-icon>
      CurrentPlaylist
    </button>
    <button><ion-icon class="symbols" name="play"></ion-icon>
      NowPlaying
    </button>

  </div>
  </ion-footer>
